.footer {
  background: #000;
  background-image: url("../../imagens/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}

@media (max-width: 1150px) {
  .footer {
    flex-direction: column;
  }
  .footer section {
    padding-bottom: 50px;
  }
  .footer section:last-child {
    padding-bottom: 0px;
  }
}
