.footer {
  background: #6278f7;
  background-image: url("../../imagens/fundo.png");
  background-size: cover;
  background-repeat: no-repeat;

  color: #fff;
  padding: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer ul li {
  display: inline-block;
  margin-right: 32px;
}

.footer ul li:last-child {
  margin-right: 0;
}
