.campo-texto {
  margin: 24px 0;
}

.campo-texto label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 24px;
}

.campo-texto input {
  border: none;
  background-color: #fff;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0);
  width: 100%;
  font-size: 24px;
  padding: 24px;
  box-sizing: border-box; /* box-sizing: border-box; faz com que os 100% do width/height levem os pixels de padding e margin em consideração. */
}
